.row {
	margin-bottom: 32px;
}

#filters h2, #last_search h2{
	text-align: center;
}

#last_search .form-group {
	width: 32%;
	vertical-align: top;
	display: inline-block;
}
 
.custom-modal .modal-dialog  {
	max-width: 75%!important;
}